@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grid-black {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(0 0 0 / 0.1) 1px, transparent 1px);
  }
  .bg-grid-white {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgb(255 255 255 / 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(255 255 255 / 0.1) 1px, transparent 1px);
  }
}